/* mellanstor SKÄRM */

@media screen and (min-width: 700px) {
    .box-layout{
        width: 50%;
    }
    #about {
        text-align: center;
        font-size: 1.2rem;
    }
}

/* Dator SKÄRM */

  @media screen and (min-width: 1500px) {
    body {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 2.8rem;
      margin-bottom: 1rem;
      }
      .header {
        position: fixed;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 30%;
        border-radius: 3rem;
        background-color: rgba(0, 32, 74, 0.5);
        padding: 0;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
        }
        .header nav ul li {
          margin: 0 1rem;
          }
          #profilbild {
            width: 15rem;
            border-radius: 7.5rem;
            }
            .projekticons li,
            .contact-links li {
              width: 5rem;
              height: 5rem;
              font-size: 2.5rem;
              }
              .contact-special li {
                margin: 0 2rem;
                justify-content: center;
                }
                .fa-github,
                .fa-envelope,
                .fa-linkedin {
                  font-size: 2.5rem;
                  }
                  #about {
                    display: grid;
                    background-color: hsla(0, 0%, 100%, .1);
                    border-radius: 1rem;
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    width: 50%;
                    max-width: 1000px;
                    margin: 0 auto; /* Centrerar elementet horisontellt */
                }
                #about p {
                  margin-top: 0.5rem;
                  margin-bottom: 0.5rem;
                }
                #about h2 {
                  margin-top: 1rem;
                }
                  #home,
                  #about,
                  #contact,
                  #skills,
                  #projects {
                    font-size: 1.8rem;
                    }
                    .box-layout {
                      padding-top: 1.5rem;
                      padding-bottom: 3rem;
                      }
                      .liskills {
                        margin: 0.4rem;
                        font-size: 2rem;
                        }
                        .projectgrid {
                          grid-template-columns: repeat(2, 1fr);
                          gap: 1.5rem;
                          width: 90%;
                          justify-content: center;
                          }
                          .li-projects a, h4{
                            font-size: 2.8rem;
                        margin: 0.4rem;
                            }
                            .tags {
                              font-size: 1.5rem;
                              }
  }